@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg-color: #f2f2f2;
  --bg-var-color: #e0e0e0;
  --primary-color: #1a41b6;
  --highlite-color: #ffa500;
  --text-color: #161616;

  --max-width: 1200px;
}

body {
  background: var(--bg-color);
  color: var(--text-color);
}