@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg-color: #FFFFFF;
  --bg-var-color: #FAFAFA;
  --primary-color: #108DC2;
  --highlite-color: #F87B20;
  --text-color: #121212;
  --text-var-color: #8080A0;

  --max-width: 1200px;
}

body {
  background: var(--bg-color);
  color: var(--text-color);
}

::-webkit-scrollbar {
  display: none;
}